body {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*#region header*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container-nav-adr {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.header-logo-studio {
  color: #2e2f42;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-item:first-child {
  position: relative;
  color: #404bbf;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link::after {
  content: '';
  display: block;
  border-radius: 2px;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.header-link:active {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}
.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-contacts-item {
}
.header-contacts-link {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  display: block;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}
.header-contacts-link:active {
  color: #404bbf;
}
/*#endregion header*/

/*#region Main*/
.main {
}

.main-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #fff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.main-btn {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
}
/*#endregion Main*/

/*#region Section1*/

.feature {
}

.feature-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.feature-item {
  width: calc((100% - 72px) / 4);
}
.feature-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  max-width: 100%;
}
.feature-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.feature-text {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*#endregion Section1*/

/*#region Section2*/

.team {
  background-color: #f4f4fd;
}
.team-subbtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-container {
  padding: 32px 0;
  text-align: center;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 72) / 3);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.team-img {
}
.team-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-list-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-item-icon {
}
.team-link-icon {
}
.team-icon {
  fill: #f4f4fd;
}
.team-link-icon {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link-icon:hover,
.team-link-icon:focus {
  background-color: #404bbf;
}
/*#endregion Section2*/

/*#region Section3*/

.portfolio {
}
.portfolio-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.relative {
}

.portfolio-absolute {
  position: relative;
  overflow: hidden;
}
.absolute-text {
  color: #f4f4fd;
  position: absolute;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(100%);
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}
.portfolio-absolute:hover .absolute-text {
  transform: translateY(0);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-img {
}
.portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
}
.portfolio-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*#endregion Section3*/

/*#region Footer*/

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-cont {
  margin-right: 120px;
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-item-subtitle {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-list-icon {
  display: flex;
  gap: 16px;
}
.footer-item-icon {
}
.footer-link-icon {
}
.footer-list-icon .footer-link-icon {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-icon .footer-link-icon:hover,
.footer-list-icon .footer-link-icon:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: #f4f4fd;
}

/*#endregion Footer*/
